@import "~@blueprintjs/core/lib/less/variables";

table {
  width: 100%;
}

.sum-row td[colspan="6"] {
  text-align: right;
}

.sum-row .sum {
  font-weight: bold;
}

tr.sum-row td {
  border-bottom: 2px solid @gray3;
  position: sticky;
  bottom: 0;
  background: white !important;
}

table thead tr th {
  position: sticky;
  background: white;
  top: @pt-navbar-height;
}
